<%- include ('partials/header.ejs') %>

  <body>
    <%- include ('partials/navbar-home.ejs') %>
      <main class="container">
        <section id="articles" class="my-5">
          <h2 class="display-5">Artigos</h2>
          <% articles.forEach(article=> { %>
            <article id="article-<%= article.id %>" class="article my-3 border rounded p-4">
              <a class="text-decoration-none fst-none link-dark fs-2 d-inline-block" href="#">
                <%= article.title %>
              </a>
              <small class="fst-italic d-block">
                Categoria: <%= article['category.title'] %>
              </small>
            </article>
            <% }) %>
        </section>
        <div class="pagination-buttons d-flex justify-content-between">
          <% if (page> 1) { %>
            <a href="/articles/page/<%= page - 1 %>">
              <img src="/icons/left-arrow.png" alt="icon to previous page">
            </a>
            <% } %>
              <% if (hasNextPage) { %>
                <a href="/articles/page/<%= page + 1 %>">
                  <img src="/icons/right-arrow.png" alt="icon to next page">
                </a>
                <% } %>
        </div>
      </main>
  </body>
  <script src="/js/main.js">
  </script>

  <%- include ('partials/footer.ejs') %>